html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url(19742.jpg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
   width: 800px;
   margin: auto;
   background-color:#fff
}
.header{
  font-weight: bold;
  font-size: 25px;
  padding: 20px;
  background-color:#c9b8b8
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
  }
  
  
li{
	float: left;
}
  
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
  
li a:hover{
	background-color: #111111;
}

.gambar{
	height: 370px;
	background-image: url(main-photo.jpg);
	background-size: cover;
	background-position: 0 -50px;
	border-bottom: 5px solid #333333;
}

h1{
	font-weight: bold;
	font-size: 32px;
}

.penulis{
	font-size: 13px;
}

.content{
	padding: 20px;
}

.teks{
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Times New Roman';
}

.footer{
	background-color: #333;
	padding: 20px;
}

.footer .copyright{
	color: #eaeaea;
	text-align: center;
	font-size: 12px;
}